Repository akrepkov/transcendence, pull requests merged in 2025-08, with the labels that each got.

#81 fix browser tab after login
  project/frontend/public/index.html
  project/frontend/src/main.ts
  project/frontend/src/navigation/navigation.ts
Labels: frontend

#82 adding ending credit /settings/login page
  project/frontend/public/index.html
  project/frontend/src/init/initCredits.ts
  project/frontend/src/init/initHistory.ts
  project/frontend/src/main.ts
  project/frontend/src/navigation/navigation.ts
  project/frontend/src/profile/profile.ts
Labels: frontend

#93 [BUG] Fix add friends button
  project/frontend/src/auth/auth.ts
  project/frontend/src/games/gameHandler.ts
  project/frontend/src/games/gameToggle.ts
  project/frontend/src/games/pong.ts
  project/frontend/src/games/render.ts
  project/frontend/src/games/snake.ts
  project/frontend/src/games/types.ts
  project/frontend/src/init/initCredits.ts
  project/frontend/src/init/initHistory.ts
  project/frontend/src/init/initMainEvents.ts
  project/frontend/src/landing/landing.ts
  project/frontend/src/main.ts
  project/frontend/src/navigation/navigation.ts
  project/frontend/src/profile/avatar.ts
  project/frontend/src/profile/profile.ts
  project/frontend/src/session/session.ts
  project/frontend/src/toggle/toggleForms.ts
  project/frontend/src/utils/uiHelpers.ts
  project/frontend/tests/profile.spec.ts
Labels: frontend

#96 working back buttons in game page
  project/frontend/public/assets/home.gif
  project/frontend/public/assets/vending-machine.gif
  project/frontend/public/index.html
  project/frontend/src/landing/landing.ts
  project/frontend/src/main.ts
Labels: frontend

#99 [BUG] fix landing login navigation
  project/frontend/src/navigation/navigation.ts
Labels: frontend

#104 add setting methods
  project/frontend/public/index.html
  project/frontend/src/init/initHistory.ts
  project/frontend/src/main.ts
  project/frontend/src/navigation/navigation.ts
  project/frontend/src/profile/avatar.ts
  project/frontend/src/profile/profile.ts
  project/frontend/src/session/session.ts
  project/frontend/src/settings/settings.ts
Labels: in progress, frontend

#110 bugfix index.html
  project/frontend/public/index.html
Labels: bug, frontend

#115 Add landing tests
  project/frontend/src/navigation/navigation.ts
  project/frontend/tests/landing.spec.ts
Labels: frontend

#118 add gamehistory
  project/frontend/public/assets/offline_status.png
  project/frontend/public/assets/online_status.png
  project/frontend/public/assets/pong_icon.png
  project/frontend/public/assets/snake_icon.png
  project/frontend/public/index.html
  project/frontend/src/navigation/navigation.ts
  project/frontend/src/profile/profile.ts
  project/frontend/tests/profile.spec.ts
Labels: frontend

#147 Tournament frontend final
  project/backend/database/ft_transcendence.db
  project/frontend/public/index.html
  project/frontend/src/games/frontendGame/frontendGameManager.ts
  project/frontend/src/games/gameToggle.ts
  project/frontend/src/games/tournament.ts
  project/frontend/src/navigation/navigation.ts
  project/frontend/src/utils/uiHelpers.ts
Labels: in progress, frontend

#150 hidden auth page per default
  project/frontend/public/index.html
Labels: frontend

#152 returning error when adding yourself as friend, replaced 500 errors
  Theory/old/auth/authRequests.js
  project/backend/controllers/authControllers.js
  project/backend/controllers/gameControllers.js
  project/backend/controllers/userControllers.js
  project/backend/database/ft_transcendence.db
  project/backend/uploads/avatars/avatar_anna_1755174689376.webp
  project/frontend/src/auth/auth.ts
  project/frontend/src/games/tournament.ts
Labels: backend

#168 Ready for eval
  eval-utils/evalPrep.md
  project/backend/.env
  project/backend/certs/cert.pem
  project/backend/certs/key.pem
  project/backend/controllers/authControllers.js
  project/backend/database/ft_transcendence.db
  project/backend/index.js
  project/backend/package-lock.json
  project/backend/package.json
  project/backend/utils/utils.js
  project/backend/websocket/handlers/matchmakingHandler.js
  project/backend/websocket/managers/gameManager.js
  project/backend/websocket/managers/messageManager.js
  project/backend/websocket/models/pong/Ball.js
  project/backend/websocket/models/pong/Player.js
  project/backend/websocket/models/pong/Pong.js
  project/backend/websocket/models/snake/Apple.js
  project/backend/websocket/models/snake/Player.js
  project/backend/websocket/models/snake/Snake.js
  project/backend/websocket/websocket.js
  project/frontend/package-lock.json
  project/frontend/package.json
  project/frontend/src/auth/auth.ts
  project/frontend/src/games/frontendGame/frontendGameManager.ts
  project/frontend/src/games/frontendGame/frontendPong.ts
  project/frontend/src/games/gameHandler.ts
  project/frontend/src/games/gameToggle.ts
  project/frontend/src/games/pong.ts
  project/frontend/src/games/render.ts
  project/frontend/src/games/snake.ts
  project/frontend/src/session/session.ts
Labels: in progress

#169 fixed frontend unit test
  project/frontend/src/settings/settings.ts
  project/frontend/tests/auth.spec.ts
  project/frontend/tests/landing.spec.ts
  project/frontend/tests/profile.spec.ts
Labels: frontend
